<template>
<footer class="page-footer">
  <div class="container-fluid">
    <div class="copyright-text">
        <p>Copyright © 2021 All Rights Reserved</p>
    </div>
    <div class="credit-text">
      <p>Made by @ <span>Bytes Technolabs CRM</span></p>
    </div>
  </div>
</footer>    
</template>

<script>
export default {
  name: 'FooterSectionLayout',    
}
</script>
