<template>
<header class="page-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="images/logo.svg" alt="Bytes Technolab" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a href="#">Dashboard</a>
          </li>   
          <li class="nav-item">
            <a href="#">Leads</a>
          </li> 
          <li class="nav-item">
            <a href="#">Contacts</a>
          </li>  
          <li class="nav-item">
            <a href="#">Organizations</a>
          </li>  
          <li class="nav-item">
            <a href="#">Module Management</a>
          </li>  
          <li class="nav-item">
            <a href="#">User Management</a>
          </li>  
        </ul>
        <div class="header-right">
          <form class="d-flex search-form">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search"> 
            <input type="submit" class="search-icon" />
          </form>
          <div class="profile-dropdown">
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" id="profile-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="profile-img"><img src="images/profile-icon.jpg" alt="Profile Name"/></span>
              </button>
              <ul class="dropdown-menu " aria-labelledby="profile-dropdown">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
              </ul>
            </div>
          </div>
        </div>              
      </div>
    </div>
  </nav>     
</header>
</template>

<script>
export default {
  name: 'HeaderSectionLayout',    
}
</script>
