<template>
 <div class="left-col login-col">
    <div class="col-wrapper">
        <div class="img">
            <picture>            
                <source :srcset="leftSectionWebpIMage">                            
                <img :src="leftSectionImage" :alt="imageTitle">
            </picture>
        </div>
    </div>
</div>
</template>

<script>
export default {
  name: 'LeftSection',  
  props: {
    leftSectionImage: String,
    leftSectionWebpIMage: String,
    imageTitle: String
  }
}
</script>
