<main class="page-body">
    <div class="container">
      <div class="page-body-wrapper profile">
        <div class="profile-wrapper">
          <div class="module-heading text-center">
            <h1>My Profile</h1>
          </div>
          <div class="module-body">
            <div class="row">
                <div class="col-md-12">
                  <div class="profile-inner-wrapper my-profile">
                    <div class="profile-img"><img src="images/profile-img.png" alt="Hardik C" /></div>
                    <span class="edit"><img src="images/icons/edit.svg" alt="Edit"/></span>
                    <div class="detail">
                      <h3>Hardik C</h3>
                      <span class="email">Hardik@bytestechnolabs.com</span>
                      <span class="mobile">+91 99099 20302</span>
                    </div>
                    <div class="profile-action">
                      <a href="#" class="change-pwd">Change Password</a>
                        <a href="#" class="theme-button logout" v-on:click="logoutUser">Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </main>