@import 'var.scss';


@mixin theme-button ($pt: 12px,$pr: 24px,$pb: 12px,$pl: 24px) {
    background: $theme-red;
    border-radius: 4px;
    border: 1px solid transparent;
    color: $theme-white;
    font-size: 16px;
    font-weight: 600;    
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl; 
    text-transform: capitalize;
    display: inline-block;
    @include theme-transition(); 
}

@mixin theme-button-hover(){
    background: transparent;
    color: $theme-red;
    border-color: $theme-red;
}

@mixin module-button ($pt: 13px,$pr: 12px,$pb: 13px,$pl: 12px) {
    background: rgba($color: $theme-red, $alpha: 0.10);
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: 500;
    color: $theme-red;    
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl; 
    text-transform: capitalize;
    display: inline-block;
    @include theme-transition();       
}

@mixin module-button-hover(){
    text-decoration: none;
    background: rgba($color: $theme-red, $alpha: 0.20);
    color: $theme-red;
}

@mixin module-button-blue(){ 
    @include module-button();    
    background: rgba($color: $theme-blue, $alpha: 0.10);
    color: $theme-blue;
    
}

@mixin module-button-blue-hover(){ 
    @include module-button-hover();    
    background: rgba($color: $theme-blue, $alpha: 0.20);
    color: $theme-blue;
    
}

@mixin theme-transition ($transition-duration: 0.2s) {
    transition: $transition-duration all ease-in-out;
    -webkit-transition: $transition-duration all ease-in-out;
    -o-transition: $transition-duration all ease-in-out;
    -ms-transition: $transition-duration all ease-in-out;
    -moz-transition: $transition-duration all ease-in-out;
}

@mixin transform-translate ($top: -50%,$left: -50%,) {
    transform: translate($top,$left);
    -webkit-transform: translate($top,$left);
    -o-transform: translate($top,$left);
    -ms-transform: translate($top,$left);
    -moz-transform: translate($top,$left);
}






