/***** THEME COLORS *****/
/***** THEME FONTS *****/
/***** THEME BREAKPOINTS *****/
/***** THEME COLORS *****/
/***** THEME FONTS *****/
/***** THEME BREAKPOINTS *****/
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Medium.eot");
  src: url("../fonts/OpenSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff"), url("../fonts/OpenSans-Medium.ttf") format("truetype"), url("../fonts/OpenSans-Medium.svg#OpenSans-Medium") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: 700;
}

/***** THEME COLORS *****/
/***** THEME FONTS *****/
/***** THEME BREAKPOINTS *****/
/******** THEME GLOBAL CSS START ********/
* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #101011;
  font-size: 14px;
  background-color: #FAFAFA;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1, .h1 {
  font-size: 24px;
  line-height: 33px;
}

h2, .h2 {
  font-size: 20px;
  line-height: 28px;
}

h3, .h3 {
  font-size: 18px;
  line-height: 26px;
}

h4, .h4 {
  font-size: 16px;
  line-height: 24px;
}

h5, .h5 {
  font-size: 14px;
  line-height: 20px;
}

p {
  font-size: 14px;
  color: #101011;
}

a {
  text-decoration: none;
  color: #101011;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
}

a:hover, a:focus {
  text-decoration: underline;
  color: #DB3333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.form-field:not(:last-child) {
  margin-bottom: 25px;
}

label {
  font-weight: 600;
  margin-bottom: 15px;
}

.form-control {
  background: #FFF;
  border: 1px solid #777777;
  border-radius: 4px;
  height: 60px;
  padding: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #DB3333;
}

select {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.theme-button {
  background: #DB3333;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
}

.theme-button:hover {
  background: transparent;
  color: #DB3333;
  border-color: #DB3333;
}

.theme-button.outline-btn {
  background: transparent;
  border-color: #777777;
  color: #101011;
}

.theme-button.outline-btn:hover {
  background: #DB3333;
  border-color: #DB3333;
  color: #FFF;
}

.module-button {
  background: rgba(219, 51, 51, 0.1);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  color: #DB3333;
  padding-top: 13px;
  padding-right: 12px;
  padding-bottom: 13px;
  padding-left: 12px;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
}

.module-button:hover, .module-button:focus {
  text-decoration: none;
  background: rgba(219, 51, 51, 0.2);
  color: #DB3333;
}

.module-button .icon {
  margin-right: 5px;
}

.module-button .icon,
.module-button span {
  display: inline-block;
  vertical-align: middle;
}

.module-button-blue {
  background: rgba(219, 51, 51, 0.1);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  color: #DB3333;
  padding-top: 13px;
  padding-right: 12px;
  padding-bottom: 13px;
  padding-left: 12px;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  background: rgba(82, 137, 236, 0.1);
  color: #5289EC;
}

.module-button-blue:hover, .module-button-blue:focus {
  text-decoration: none;
  background: rgba(219, 51, 51, 0.2);
  color: #DB3333;
  background: rgba(82, 137, 236, 0.2);
  color: #5289EC;
}

.module-button-blue .icon {
  margin-right: 5px;
}

.module-button-blue .icon,
.module-button-blue span {
  display: inline-block;
  vertical-align: middle;
}

.container,
.container-fluid {
  padding: 0;
}

.theme-checkbox {
  cursor: pointer;
}

.theme-checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

.theme-checkbox input[type=checkbox]:checked + span::before {
  background-color: #DB3333;
  border-color: #DB3333;
}

.theme-checkbox input[type=checkbox]:checked + span::after {
  opacity: 1;
}

.theme-checkbox span {
  position: relative;
  padding-left: 35px;
}

.theme-checkbox span::before {
  border: 1px solid #777777;
  border-radius: 4px;
  background-color: #FFF;
  content: "";
  height: 24px;
  width: 24px;
  position: absolute;
  top: -2px;
  left: 0;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
}

.theme-checkbox span::after {
  width: 18px;
  height: 13px;
  background: url(../images/checkmark-icon.svg) no-repeat center center;
  content: "";
  position: absolute;
  left: 3px;
  top: 4px;
  opacity: 0;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
}

.theme-modal .btn-close {
  padding: 0;
  height: 32px;
  width: 32px;
  opacity: 1;
  background: none;
  position: absolute;
  right: 30px;
  top: 30px;
}

.theme-modal .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.theme-modal .modal-dialog {
  max-width: 480px;
}

.theme-modal .modal-content {
  border: none;
}

.theme-modal .modal-header {
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
  padding: 60px 60px 30px 60px;
  margin-bottom: 30px;
}

.theme-modal .modal-body {
  padding: 0 60px 60px;
}

.theme-modal .modal-body p {
  color: #777777;
}

.theme-modal .modal-btn {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.theme-modal .theme-button {
  width: 47%;
  margin: 0;
}

.theme-modal .modal-form .form-control {
  height: 50px;
}

.theme-modal .modal-form .form-field:not(:last-child) {
  margin-bottom: 15px;
}

.theme-modal.modal-small .modal-dialog {
  max-width: 356px;
}

.theme-modal.modal-small .modal-content {
  padding: 80px 24px 24px;
}

.theme-modal.modal-small .modal-header {
  border-bottom: none;
  padding: 0;
  margin-bottom: 30px;
}

.theme-modal.modal-small .modal-header .modal-title {
  font-size: 32px;
  font-weight: 700;
  width: 100%;
}

.theme-modal.modal-small .modal-body {
  padding: 0;
}

.error-msg {
  font-size: 15px;
  color: #DB3333;
  font-weight: 600;
  margin-top: 7px;
  display: inline-block;
}

/******** THEME GLOBAL CSS END ********/
/******** LOGIN SCREEN CSS START ********/
.login-screen-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  background: #FAFAFA;
}

.login-screen-wrapper .login-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-screen-wrapper .col-wrapper {
  width: 100%;
  padding: 0 15px;
}

.login-screen-wrapper .left-col {
  width: 100%;
  max-width: 60%;
  padding: 100px 20px;
  text-align: center;
}

.login-screen-wrapper .left-col img {
  max-width: 700px;
  width: 100%;
}

.login-screen-wrapper .right-col {
  width: 100%;
  max-width: 40%;
  background: rgba(219, 51, 51, 0.03);
}

.login-screen-wrapper .right-col .col-wrapper {
  max-width: 350px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.login-screen-wrapper .right-col h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 35px;
  max-width: 300px;
}

.login-screen-wrapper .logo {
  margin-bottom: 40px;
}

.login-screen-wrapper .remember-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-screen-wrapper .remember-field .checkbox, .login-screen-wrapper .remember-field .forgot-link {
  width: 50%;
}

.login-screen-wrapper .remember-field .forgot-link {
  text-align: right;
}

.login-screen-wrapper .pwd-field {
  position: relative;
}

.login-screen-wrapper .pwd-field .show-pwd {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  background: url(../images/eye-off.svg) center center no-repeat;
}

.login-screen-wrapper .pwd-field .show-pwd.show {
  background-image: url(../images/eye-on.svg);
}

.login-screen-wrapper .theme-button {
  width: 100%;
  text-transform: uppercase;
}

/******** LOGIN SCREEN CSS END ********/
/******** HEADER CSS START ********/
.page-header {
  padding: 10px 30px;
  background: #FFF;
  position: absolute;
  width: 100%;
  top: 0;
}

.page-header .navbar-brand {
  margin-right: 40px;
}

.page-header .navbar-nav li:not(:last-child) {
  margin-right: 40px;
}

.page-header .navbar-nav li a {
  font-weight: 500;
}

.page-header .navbar-nav li a:hover, .page-header .navbar-nav li a:focus {
  text-decoration: none;
  color: #DB3333;
}

.page-header .navbar-nav li.active a {
  color: #DB3333;
}

.page-header .header-right {
  padding-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header .profile-dropdown .profile-img {
  width: 40px;
  display: inline-block;
}

.page-header .profile-dropdown .profile-img img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.page-header .profile-dropdown .dropdown-toggle {
  border: none;
  background: transparent;
  position: relative;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
}

.page-header .profile-dropdown .dropdown-toggle::after {
  border: none;
  width: 12px;
  height: 7px;
  background: url(../images/arrow-down.svg) no-repeat center center;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
  right: -22px;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
}

.page-header .profile-dropdown .dropdown-toggle.show::after {
  transform: rotate(180deg) translateY(-50%);
  -webkit-transform: rotate(180deg) translateY(-50%);
  top: 40%;
}

.page-header .profile-dropdown .dropdown-menu {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  opacity: 0;
  display: block;
  right: -30px;
  left: auto;
}

.page-header .profile-dropdown .dropdown-menu.show {
  transform: translateY(22px);
  -webkit-transform: translateY(22px);
  opacity: 1;
}

.page-header .search-form {
  position: relative;
  margin-right: 40px;
}

.page-header .search-form .form-control {
  height: 50px;
  width: 100%;
}

.page-header .search-form .search-icon {
  height: 18px;
  width: 18px;
  background-color: transparent;
  background-image: url(../images/icons/search.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  font-size: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.page-header .navbar-toggler {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #DB3333;
  height: auto;
  padding: 5px;
}

.page-header .navbar-toggler .navbar-toggler-icon {
  position: relative;
  width: 20px;
  height: 2px;
  background: #FFF;
  margin: -7px 0 0 0;
}

.page-header .navbar-toggler .navbar-toggler-icon::after {
  height: 2px;
  background: inherit;
  width: 100%;
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
}

/******** HEADER CSS END ********/
/******** PAGE BODY START ********/
.page-body {
  min-height: calc(100vh - 21px);
  padding: 87px 0 55px 0;
}

.page-body .page-body-wrapper {
  height: calc(100vh - 172px);
}

.page-body .module-heading {
  margin: 30px 0;
}

.page-body .content {
  overflow: auto;
  height: calc(100% - 100px);
  scrollbar-width: thin;
  scrollbar-color: rgba(119, 119, 119, 0.1) #FAFAFA;
}

.page-body .content::-webkit-scrollbar-track {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #FAFAFA;
}

.page-body .content::-webkit-scrollbar {
  width: 6px;
  background-color: #FAFAFA;
}

.page-body .content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(119, 119, 119, 0.1);
}

.page-body .content .row-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
  padding-bottom: 16px;
  padding-right: 5px;
}

.page-body .content .row-list li:not(:first-child) {
  padding-top: 16px;
}

.page-body .content .row-list li .actions {
  margin-left: auto;
}

.page-body .content .row-list li .actions .action-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 22px;
}

.page-body .content .row-list li .actions .action-btn span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.page-body .content .row-list li .actions .action-btn:before {
  content: "";
  height: 18px;
  width: 18px;
  display: inline-block;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: 0;
}

.page-body .content .row-list li .actions .action-btn.delete {
  color: #DB3333;
}

.page-body .content .row-list li .actions .action-btn.delete:before {
  background-image: url(../images/icons/delete.svg);
}

.page-body .content .row-list li .actions .action-btn.edit:before {
  background-image: url(../images/icons/edit.svg);
}

.page-body .content .row-list li .actions .action-btn:not(:last-child) {
  margin-right: 15px;
}

.page-body .content .row-list li .list-title {
  width: 100%;
  max-width: calc(100% - 130px);
}

/******** PAGE BODY END ********/
/******** FOOTER CSS START ********/
.page-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 17px 30px;
  background: #FFF;
}

.page-footer .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer .container-fluid .copyright-text,
.page-footer .container-fluid .credit-text {
  width: 50%;
}

.page-footer .container-fluid .copyright-text p,
.page-footer .container-fluid .credit-text p {
  color: #333333;
  margin-bottom: 0;
  font-weight: 500;
}

.page-footer .container-fluid .copyright-text p span,
.page-footer .container-fluid .credit-text p span {
  color: #DB3333;
}

.page-footer .container-fluid .credit-text {
  text-align: right;
}

/******** FOOTER CSS END ********/
/******** MODULE MANAGEMENT CSS START ********/
.module-body {
  background: #FFF;
  height: calc(100% - 93px);
}

.module-body > .row {
  height: 100%;
}

.module-management .left-menu {
  width: 230px;
}

.module-management .module-menu {
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  background: #FFF;
  height: 100%;
}

.module-management .module-menu li {
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
}

.module-management .module-menu li a {
  color: #101011;
  font-weight: 500;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;
}

.module-management .module-menu li.active, .module-management .module-menu li:hover {
  background: rgba(219, 51, 51, 0.1);
}

.module-management .module-menu li.active a, .module-management .module-menu li:hover a {
  color: #DB3333;
}

.module-management .right-content {
  max-width: calc(100% - 230px);
  width: 100%;
  padding: 30px 30px 30px 15px;
  background: #FFF;
  height: 100%;
}

.module-management .right-content .right-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.module-management .right-content .right-content-header .heading {
  width: 100%;
  max-width: calc(100% - 130px);
}

.module-management .right-content .right-content-header h4 {
  margin-bottom: 15px;
}

.module-management .right-content .right-content-header p {
  color: #777777;
  margin-bottom: 0;
}

.module-management .right-content .right-content-header .right-button {
  margin-left: auto;
}

/******** MODULE MANAGEMENT CSS END ********/
/******** PROFILE CSS START ********/
.profile.page-body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .profile-wrapper {
  width: 100%;
}

.profile .module-body {
  background: transparent;
}

.profile .module-heading {
  margin: 0 0 100px 0;
}

.profile .profile-inner-wrapper {
  max-width: 420px;
  background: #FFF;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: table;
  width: 100%;
  padding: 40px;
  border-radius: 4px;
}

.profile .profile-inner-wrapper .profile-img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #DB3333;
  margin: 0 auto;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.profile .profile-inner-wrapper .profile-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile .profile-inner-wrapper h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.profile .profile-inner-wrapper .detail span {
  font-size: 16px;
  display: block;
}

.profile .profile-inner-wrapper .detail span:not(:last-child) {
  margin-bottom: 15px;
}

.profile .profile-inner-wrapper .edit {
  position: absolute;
  right: 40px;
  top: 40px;
}

.profile .profile-inner-wrapper.my-profile {
  padding-top: 110px;
  border-radius: 4px;
}

.profile .profile-action {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .profile-action a {
  width: 160px;
}

.profile .profile-action a.change-pwd {
  color: #5289EC;
}

.profile .edit-profile .form-field label {
  text-align: left;
  width: 100%;
}

.profile .edit-profile .img-field {
  position: relative;
}

.profile .edit-profile .img-field .upload-profile {
  background: rgba(219, 51, 51, 0.1);
  border: none;
}

.profile .edit-profile .img-field .upload-profile::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #101011;
}

.profile .edit-profile .img-field .upload-profile::-moz-placeholder {
  /* Firefox 19+ */
  color: #101011;
}

.profile .edit-profile .img-field .upload-profile-ms-input-placeholder {
  /* IE 10+ */
  color: #101011;
}

.profile .edit-profile .img-field .upload-profile:-moz-placeholder {
  /* Firefox 18- */
  color: #101011;
}

.profile .edit-profile .img-field label {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 20px;
}

.profile .edit-profile .phone-field .field-wrapper {
  position: relative;
}

.profile .edit-profile .phone-field .code {
  position: absolute;
  left: 17px;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.profile .edit-profile .phone-field .form-control {
  padding-left: 77px;
}

.profile .edit-profile .profile-action .cancel {
  color: #5289EC;
}

.profile .edit-profile .module-heading {
  margin-bottom: 40px;
  text-align: left;
}

/******** PROFILE CSS END ********/
/******** RESPONSIVE CSS START ********/
@media (max-width: 1366px) {
  .page-header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .page-header .navbar-brand {
    margin-right: 20px;
  }
  .page-header .navbar-nav li:not(:last-child) {
    margin-right: 28px;
  }
}

@media (max-width: 1199px) {
  .login-screen-wrapper .left-col {
    max-width: 55%;
  }
  .login-screen-wrapper .right-col {
    max-width: 45%;
  }
  .login-screen-wrapper .right-col h1 {
    line-height: 40px;
    font-size: 30px;
  }
  .page-header .navbar-brand {
    max-width: 80px;
  }
  .page-header .navbar-nav li:not(:last-child) {
    margin-right: 13px;
  }
  .page-header .navbar-nav li a {
    font-size: 13px;
  }
  .page-header .search-form {
    margin-right: 10px;
  }
}

@media (max-width: 1024px) {
  .theme-modal.modal-small .modal-header .modal-title {
    font-size: 25px;
  }
  .form-control {
    padding: 15px;
    height: 50px;
  }
  .form-field:not(:last-child) {
    margin-bottom: 20px;
  }
  .login-screen-wrapper .right-col h1 {
    max-width: 220px;
    line-height: 30px;
    font-size: 20px;
  }
  .login-screen-wrapper .right-col .col-wrapper {
    max-width: 300px;
  }
  .login-screen-wrapper .pwd-field .show-pwd {
    top: 14px;
    right: 15px;
  }
  .page-header .navbar-nav li:not(:last-child) {
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .page-header {
    z-index: 9;
  }
  .page-header .navbar-brand {
    margin-right: 10px;
    max-width: 70px;
  }
  .page-header .navbar-nav {
    margin-top: 20px;
  }
  .page-header .navbar-nav li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .page-header .navbar-nav li a {
    font-size: 14px;
  }
  .page-header .header-right {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-header .search-form {
    margin-right: 0;
  }
  .page-header .profile-dropdown .profile-img {
    width: 30px;
  }
  .page-header .profile-dropdown .profile-img img {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 767px) {
  .login-screen-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-screen-wrapper .left-col {
    max-width: 100%;
    padding: 30px;
  }
  .login-screen-wrapper .right-col {
    max-width: 100%;
    padding: 30px;
  }
  .page-body .page-body-wrapper {
    height: 100%;
  }
  .module-body {
    margin-bottom: 30px;
  }
  .module-management .left-menu {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .module-management .right-content {
    max-width: 100%;
  }
}

/******** RESPONSIVE CSS END ********/
/*# sourceMappingURL=style.css.map */