@import 'var.scss';
@import 'font.scss';
@import 'mixin.scss';


  /******** THEME GLOBAL CSS START ********/
  * {
    font-family: $theme-font;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: $theme-font;
    font-weight: 400;
    color: $theme-black;
    font-size: 14px;
    background-color: $light-gray;
    position: relative;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  
  h1, .h1 {
    font-size: 24px;
    line-height: 33px;
  }
  
  h2, .h2 {
    font-size: 20px;
    line-height: 28px;
  }
  
  h3, .h3 {
    font-size: 18px;
    line-height: 26px;
  }

  h4, .h4 {
    font-size: 16px;
    line-height: 24px;
  }
  
  h5, .h5 {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    color: $theme-black;
  }
  
  a {
    text-decoration: none;
    color: $theme-black;
    @include theme-transition; 
    &:hover , &:focus{
        text-decoration: underline;
        color: $theme-red;
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  .form-field:not(:last-child) {
    margin-bottom: 25px;
  }

  label{
      font-weight: 600;
      margin-bottom: 15px;
  }
  
  .form-control {
    background: $theme-white;
    border: 1px solid $theme-gray;
    border-radius: 4px;
    height: 60px;
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    &:focus{
        -webkit-box-shadow: none;
        box-shadow: none;
        border-color: $theme-red;
    }
  }

select{
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.theme-button {
    @include theme-button;
    &:hover{
        @include theme-button-hover; 
    }
    &.outline-btn{
        background: transparent;
        border-color: $theme-gray;
        color: $theme-black;
        &:hover{
            background: $theme-red;
            border-color: $theme-red;
            color: $theme-white
        }
    }
    
}

.module-button{
    @include module-button;  
    &:hover,
    &:focus{
        @include module-button-hover; 
    } 
    .icon{
        margin-right: 5px
    } 
    .icon,
    span{
        display: inline-block;
        vertical-align: middle
    }
}

.module-button-blue{
    @include module-button-blue; 
    &:hover,
    &:focus{
        @include module-button-blue-hover; 
    } 
    .icon{
        margin-right: 5px
    }
    .icon,
    span{
        display: inline-block;
        vertical-align: middle
    }
       
}

.container,
.container-fluid{
    padding: 0;
}
  
  
.theme-checkbox {
    cursor: pointer;
    input[type=checkbox]{
        opacity: 0;
        position: absolute;
        &:checked{
            + span{
                &::before{
                    background-color: $theme-red;
                    border-color: $theme-red;
                }
                &::after{
                    opacity: 1;
                }
            }
        }
    }
    span {
        position: relative;
        padding-left: 35px;
        &::before{
            border: 1px solid $theme-gray;
            border-radius: 4px;
            background-color: $theme-white;
            content: "";
            height: 24px;
            width: 24px;
            position: absolute;
            top: -2px;
            left: 0;
            @include theme-transition; 
        }
        &::after{
            width: 18px;
            height: 13px;
            background: url(../images/checkmark-icon.svg) no-repeat center center;
            content: "";
            position: absolute;
            left: 3px;
            top: 4px;
            opacity: 0;
            @include theme-transition; 
        }
    }
}

.theme-modal{
    .btn-close{
        padding: 0;
        height: 32px;
        width: 32px;
        opacity: 1;
        background: none;
        position: absolute;
        right: 30px;
        top: 30px;
        &:focus{
            box-shadow: none;
        }
    }
    .modal-dialog{
        max-width: 480px;
    }
    .modal-content{
        border: none;
    }    
    .modal-header{
        border-bottom: 1px solid $border-color;
        padding: 60px 60px 30px 60px;
        margin-bottom: 30px;
    }
    .modal-body {
        padding:0 60px 60px;
        p{
            color: $theme-gray;
        }
    }
    .modal-btn{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }     
    .theme-button{
        width: 47%;
        margin: 0;
    }
    .modal-form{
        .form-control{
            height: 50px;
        }
        .form-field{
            &:not(:last-child){
                margin-bottom: 15px;
            }
        }
    }
    &.modal-small{
        .modal-dialog{
            max-width: 356px;
        } 
        .modal-content{
           padding: 80px 24px 24px;
        }
        .modal-header{
            border-bottom: none;
            padding: 0;
            margin-bottom: 30px;
            .modal-title{
                font-size: 32px;
                font-weight: 700;
                width: 100%;
            }
        }
        .modal-body {
            padding:0;
        }        
    }
}

.error-msg {
    font-size: 15px;
    color: $theme-red;
    font-weight: 600;
    margin-top: 7px;
    display: inline-block;
}
  
  /******** THEME GLOBAL CSS END ********/
  /******** LOGIN SCREEN CSS START ********/
.login-screen-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    background: $light-gray;
    .login-col{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .col-wrapper{
        width: 100%;
        padding: 0 15px;
    }
    .left-col{
        width: 100%;
        max-width: 60%;
        padding: 100px 20px;
        text-align: center;
        img{
            max-width: 700px;
            width: 100%;
        }
    }
    .right-col{
        width: 100%;
        max-width: 40%;
        background: rgba(219, 51, 51, 0.03);
        .col-wrapper{
            max-width: 350px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        h1{
            font-size: 34px;
            font-weight: 700;
            line-height: 45px;
            margin-bottom: 35px;
            max-width: 300px;
        }
    }
    .logo{
        margin-bottom: 40px;
    }
    .remember-field{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .checkbox , .forgot-link{
            width: 50%;
        }
        .forgot-link{
            text-align: right;
        }
    }
    .pwd-field{
        position: relative;
        .show-pwd{
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 26px;
            height: 26px;
            background: url(../images/eye-off.svg) center center no-repeat;
            &.show{
                background-image: url(../images/eye-on.svg);
            }
        }
    }
    .theme-button{
        width: 100%;
        text-transform: uppercase ;
    }
}
  
  /******** LOGIN SCREEN CSS END ********/

/******** HEADER CSS START ********/
  .page-header  {
    padding: 10px 30px;
    background: $theme-white;
    position: absolute;
    width: 100%;
    top: 0;
    .navbar-brand{
        margin-right: 40px;
    }
    .navbar-nav{
        li{
            &:not(:last-child){
                margin-right: 40px;
            }
            a{
                font-weight: 500;
                &:hover,
                &:focus{
                    text-decoration: none;
                    color: $theme-red;
                }
            }
            &.active{
                a{
                    color: $theme-red;
                }
            }
        }
    }
    .header-right{
        padding-right: 23px;
        display: flex;
      }
    .profile-dropdown {
        .profile-img{
            width: 40px;
            display: inline-block;
            img{
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }
        }
        .dropdown-toggle{
            border: none;
            background: transparent;
            position: relative;
            @include theme-transition; 
            &::after{
                border: none;
                width: 12px;
                height: 7px;
                background: url(../images/arrow-down.svg) no-repeat center center;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                position: absolute;
                right: -22px;
                @include theme-transition; 
            }
            &.show{
                &::after{
                    transform: rotate(180deg) translateY(-50%);
                    -webkit-transform: rotate(180deg) translateY(-50%);
                    top: 40%;
                }
            }
        }
        .dropdown-menu{
            transform: translateY(0);
            -webkit-transform: translateY(0);
            @include theme-transition; 
            opacity: 0;
            display: block;
            right: -30px;
            left: auto;
            &.show{
                transform: translateY(22px);
                -webkit-transform: translateY(22px);
                opacity: 1;
            }
        }
    }
    .search-form{
        position: relative;
        margin-right: 40px;
        .form-control{
            height: 50px;
            width: 100%;
        }
        .search-icon{
            height: 18px;
            width: 18px;
            background-color: transparent;
            background-image: url(../images/icons/search.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
            font-size: 0;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            
        }
    }
    .navbar-toggler{
        border: none;
        box-shadow: none;
        background: $theme-red;
        height: auto;
        padding: 5px;
        .navbar-toggler-icon{
            position: relative;
            width: 20px;
            height: 2px;
            background:#FFF;
            margin: -7px 0 0 0;
            &::after{
                height: 2px;
                background:inherit;
                width: 100%;
                content: "";
                bottom: -5px;
                left: 0;
                position: absolute;
            }
        }
    }
}

/******** HEADER CSS END ********/

/******** PAGE BODY START ********/
.page-body{
    min-height: calc(100vh - 21px);
    padding: 87px 0 55px 0;
    .page-body-wrapper {
        height: calc(100vh - 172px);
    }
    .module-heading{
        margin: 30px 0;
    }
    .content{
        overflow: auto;
        height: calc(100% - 100px);
        scrollbar-width: thin;
        scrollbar-color: $border-color $light-gray;
        &::-webkit-scrollbar-track{
            box-shadow:none;
            -webkit-box-shadow:none;
            border-radius: 10px;
            background-color: $light-gray ;               
        }
        &::-webkit-scrollbar
        {
            width: 6px;
            background-color: $light-gray ;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 10px;                
            background-color: $border-color;
        }
        
        .row-list{
            li{
                display: flex;
                border-bottom: 1px solid $border-color;
                padding-bottom: 16px;
                padding-right: 5px;
                &:not(:first-child){
                    padding-top: 16px;
                }
                .actions{
                    margin-left: auto;
                    .action-btn{
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        padding-left: 22px;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                            cursor: pointer;
                        }
                        &:before{                       
                            content: "";  
                            height: 18px;                          
                            width: 18px;
                            display: inline-block;
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 3px;
                            left: 0;
                        }
                        &.delete{
                            color: $theme-red;                                                            
                            &:before{
                                background-image: url(../images/icons/delete.svg);
                            }
                        }
                        &.edit{                                                           
                            &:before{
                                background-image: url(../images/icons/edit.svg);
                            }
                        }
                        &:not(:last-child){
                            margin-right: 15px;
                        }
                    }                        
                }
                .list-title{
                    width: 100%;
                    max-width: calc(100% - 130px);
                }
            }
        }
    }
}
/******** PAGE BODY END ********/

/******** FOOTER CSS START ********/
.page-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 17px 30px;
    background: #FFF;
    .container-fluid{
        display: flex;
        .copyright-text,
        .credit-text{
            width: 50%;
            p{
                color: #333333;
                margin-bottom: 0;
                font-weight: 500;
                span{
                    color: $theme-red;
                }
            }
        }
        .credit-text{
            text-align: right;
        }
    }
}
/******** FOOTER CSS END ********/

/******** MODULE MANAGEMENT CSS START ********/


.module-body{   
    background: $theme-white; 
    height: calc(100% - 93px);
    & > .row{
        height: 100%;
    }
    
}

.module-management{
    .left-menu{
        width: 230px;
    }
    .module-menu{
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);        
        border-radius: 4px;
        overflow: hidden;
        background: $theme-white;
        height: 100%;
        li{
            @include theme-transition;
            a{
                color: $theme-black;
                font-weight: 500;   
                padding: 15px; 
                display: inline-block; 
                border-bottom: 1px solid $border-color;
                width: 100%;  
                text-decoration: none;   
                text-transform: capitalize;  
            }     
            &.active,
            &:hover{
                background: $light-red;
                a{
                    color: $theme-red;
                }
            }
        }
    }
    .right-content{
        max-width: calc(100% - 230px);
        width: 100%;
        padding: 30px 30px 30px 15px;
        background: $theme-white;     
        height: 100%;   
        .right-content-header{
            display: flex;
            width: 100%;
            margin-bottom: 30px;
            .heading{
                width: 100%;
                max-width: calc(100% - 130px);
            }
            h4{
                margin-bottom: 15px;
            }
            p{
                color: $theme-gray;
                margin-bottom: 0;
            }
            .right-button{
                margin-left: auto;
            }
        }        
    }
}

/******** MODULE MANAGEMENT CSS END ********/

/******** PROFILE CSS START ********/
.profile{
    &.page-body-wrapper{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .profile-wrapper{
        width: 100%;
    }
    .module-body{
        background: transparent;
    }    
    .module-heading{
        margin: 0 0 100px 0;
    }
    .profile-inner-wrapper{
        max-width: 420px;
        background: #FFF;
        margin: 0 auto;
        text-align: center;
        position: relative;
        display: table;
        width: 100%;
        padding: 40px;
        border-radius: 4px;
        .profile-img{
            height: 130px;
            width: 130px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid $theme-red;
            margin: 0 auto;
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            
        }
        h3{
            font-size: 24px;
            margin-bottom: 15px;
        }
        .detail{
            span{
                font-size: 16px;
                display: block;
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }               
        .edit{
            position: absolute;
            right: 40px;
            top: 40px;
        }
        &.my-profile{
            padding-top: 110px;
            border-radius: 4px;
        }
    }
    .profile-action{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            width: 160px;
            &.change-pwd{
                color: $theme-blue;
            }
        }
    }
    .edit-profile{
        .form-field{
            label{
                text-align: left;
                width: 100%;
            }
        }
        .img-field{
            position: relative;
           .upload-profile{
            background: rgba(219, 51, 51, 0.1);
            border: none;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $theme-black;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $theme-black;
            }
            &-ms-input-placeholder { /* IE 10+ */
                color: $theme-black;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: $theme-black;
            }
                
           }    
           label{
               cursor: pointer;
               position: absolute;
               top: 18px;
               right: 20px;
               width: 20px;
           }       
        }  
        .phone-field{
            .field-wrapper{
            position: relative;
        }
          .code{
            position: absolute;
            left: 17px;
            top: 0;
            height: 100%;
            cursor: pointer;
          }   
          .form-control{
            padding-left: 77px;
          }
        }
        .profile-action{
            .cancel{
                color: $theme-blue;
            }
        } 
        .module-heading {
            margin-bottom: 40px;
            text-align: left;
        }    
    }
}

/******** PROFILE CSS END ********/


  /******** RESPONSIVE CSS START ********/

  @media (max-width: $screen-sd-max) {
    .page-header{
        padding-left: 15px;
        padding-right: 15px;
        .navbar-brand{
            margin-right: 20px;
        }
        .navbar-nav{
            li{
                &:not(:last-child){
                    margin-right: 28px;
                }
            }
        }
    }
}

@media (max-width: $screen-md-max) {
    .login-screen-wrapper  {
        .left-col
        {
            max-width: 55%;
        }   
        .right-col{
            h1{
                line-height: 40px;
                font-size: 30px;
            }
            max-width: 45%;
        }   
    }
    .page-header{
        .navbar-brand{
            max-width: 80px;
        }
        .navbar-nav{
            li{
                &:not(:last-child){
                    margin-right: 13px;
                }
                a{
                    font-size: 13px;
                }
            }
        }
        .search-form{
            margin-right: 10px;
        }

    }  
}

  
@media (max-width: $screen-sm-max) {
    .theme-modal{
        &.modal-small{
            .modal-header{
                .modal-title{
                    font-size: 25px;
                }
            }
        }
    }

    .form-control {
      padding: 15px;
      height: 50px;
    }
    .form-field:not(:last-child) {
      margin-bottom: 20px;
    }
    .login-screen-wrapper {
        .right-col {
            h1{
                max-width: 220px;
                line-height: 30px;
                font-size: 20px;
            }
            .col-wrapper{
                max-width: 300px;
            }
        }
        .pwd-field{
            .show-pwd{
                top: 14px;
                right: 15px;
            }
        }
    }
    .page-header{
        .navbar-nav{
            li{
                &:not(:last-child){
                    margin-right: 13px;
                }
            }
        }
    }
}
@media (max-width: $screen-st-max) {
    .page-header{
        z-index: 9;
        .navbar-brand{
            margin-right: 10px;
            max-width: 70px;            
        }
        .navbar-nav{
            margin-top: 20px;
            li{
                &:not(:last-child){
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                a{
                    font-size: 14px;
                }
            }
        }
        .header-right{
            margin-top: 20px;
            flex-direction: column;
        }
        .search-form{
            margin-right: 0;
        }
        .profile-dropdown{
            .profile-img{
                width: 30px;
                img{
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-max) {
    .login-screen-wrapper{
        flex-direction: column;
        .left-col{
            max-width: 100%;
            padding: 30px;
        }
        .right-col{
        max-width: 100%;
        padding: 30px;
        }
    }

    .page-body{
        .page-body-wrapper{
            height: 100%;
        }
    }
    .module-body{
        margin-bottom: 30px;
    }
    .module-management{
        .left-menu{
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
        }
        .right-content{
            max-width: 100%;            
        }
    }
}
  
  /******** RESPONSIVE CSS END ********/
  /*# sourceMappingURL=stye.css.map */