
/***** THEME COLORS *****/

$theme-red : #DB3333;
$theme-black : #101011;
$theme-white : #FFF;
$theme-gray : #777777;
$theme-blue : #5289EC;
$light-gray : #FAFAFA;
$light-red : rgba(219, 51, 51, 0.10);
$border-color : rgba(119, 119, 119, 0.10);


/***** THEME FONTS *****/
$theme-font: 'Open Sans';

/***** THEME BREAKPOINTS *****/

$screen-xs-min: 480px !default; // Extra-small screen / phone
$screen-sm-min: 768px !default; // Small screen / tablet
$screen-md-min: 1025px !default; // Medium screen / desktop
$screen-lg-min: 1200px !default; // Large screen / wide desktop
$screen-xl-min: 1600px !default; // Large screen devices

// Provide a maximum so media queries do not overlap when required
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-lg-max: ($screen-xl-min - 1) !default;
$screen-st-max: 991px !default; // Small tablet
$screen-sd-max: 1366px !default; // Small Desktop
$screen-xxs-max: 575px !default; // Extra-small screen / phone
