<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>  
    <!-- FAVICON LINK -->
    <link rel="icon" href="<%= BASE_URL %>images/favicon.png" type = "image/x-icon"> 
    <!-- BOOTSTRAP CSS -->
    <link  rel="stylesheet" href="<%= BASE_URL %>css/bootstrap.min.css" type="text/css" />
    <!-- THEME CSS -->
    <link  rel="stylesheet" href="<%= BASE_URL %>css/style.css" type="text/css" />
    
    <script type="text/javascript" src="<%= BASE_URL %>js/jquery.min.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/main.js"></script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->    
  </body>
</html>
