<section class="login-screen">
    <div class="container-fluid p-0">
        <div class="login-screen-wrapper">

        <!-- left section of login page -->
        <GuestLeftSectionImage leftSectionImage="images/login-screen.svg" leftSectionWebpIMage="images/login-screen.webp" imageTitle="Login"  />
        <!-- left section of login page -->

        <div class="right-col login-col">
            <div class="col-wrapper">
                <div class="logo">
                    <img src="images/logo.svg" alt="Bytes Technolab" />
                </div>
                <div class="heading">
                    <h1>Welcome to your Bytes CRM</h1>
                </div>
                <div class="login-form">
                    <form action="" class="login" @submit.prevent="handleSubmit">
                        <div class="form-field">
                            <input type="email" placeholder="Email" class="form-control" v-model="user.email" required/>                                                        
                            <span v-if="!$v.user.email.email" class="error-msg">Email is invalid</span>                            
                            <!-- <span class="error-msg">This field is required</span> -->
                        </div>
                        <div class="form-field pwd-field">
                            <input type="password" placeholder="Password" v-model="user.password" id="password" name="password" class="form-control" required />
                            <span id="togglePassword" class="show-pwd toggle-password"></span>
                            <span v-if="!$v.user.password.minLength" class="error-msg">Password must be at least 8 characters</span>                            
                        </div>
                        <div class="form-field remember-field">
                            <div class="checkbox">
                                <label class="theme-checkbox">
                                <input type="checkbox" /> <span> Remember me </span> 
                                </label>
                            </div>
                            <div class="forgot-link">
                                <router-link :to="{ name: 'ForgotPassword' }">Forgot password?</router-link>                                
                            </div>
                        </div>
                        <div class="form-field submit-btn">
                            <input type="submit" value="Login" class="theme-button" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>  