<section class="login-screen">
    <div class="container-fluid p-0">
        <div class="login-screen-wrapper">

        <!-- left section of login page -->
        <GuestLeftSectionImage leftSectionImage="images/login-screen.svg" leftSectionWebpIMage="images/login-screen.webp" imageTitle="Reset Password"  />
        <!-- left section of login page -->

        <div class="right-col login-col">
            <div class="col-wrapper">
                <div class="logo">
                    <img src="images/logo.svg" alt="Bytes Technolab" />
                </div>
                <div class="heading">
                    <h1>Forgot Password</h1>
                </div>
                <div class="login-form">
                    <form action="" class="login">
                        <div class="form-field">
                            <input type="email" placeholder="Email" class="form-control" />
                            <!-- <span class="error-msg">This field is required</span> -->
                        </div>
                        <div class="form-field pwd-field">
                            <input type="email" placeholder="Confirm Email" class="form-control" />                            
                            <!-- <span class="error-msg">This field is required</span> -->
                        </div>
                        <div class="form-field remember-field">                            
                            <div class="checkbox"></div>
                            <div class="forgot-link">
                                <router-link :to="{ name: 'Login' }">Already a member?</router-link>                                                                
                            </div>
                        </div>
                        <div class="form-field submit-btn">
                        </div>
                        <input type="submit" value="Forgot Password" class="theme-button" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>  