<template>
<div id="sales-app">
  <div v-if="!$route.meta.plainLayout">
    <my-header></my-header>
  </div>
  <router-view></router-view>

  <div v-if="!$route.meta.plainLayout">
    <my-footer></my-footer>
  </div>
</div>
</template>

<script>
export default {
  name: 'App',  
}
</script>